<?xml version="1.0"?>
<packages>
    <package id="7zip" />
    <package id="avastfreeantivirus" />
    <package id="cygwin" />
    <package id="chocolatey" />
    <package id="daemontoolslite" />
    <package id="dropbox" />
    <package id="evernote" />
    <package id="filezilla" />
    <package id="firefox" />
    <package id="githubforwindows" />
    <package id="GoogleChrome" />
    <package id="googledrive" />
    <package id="GoogleJapaneseInput" />
    <package id="jdownloader" />
    <package id="keepass" />
    <package id="libreoffice" />
    <package id="mingw" />
    <package id="mingw-get" />
    <package id="Opera" />
    <package id="PDFXChangeViewer" />
    <package id="safari" />
    <package id="skype" />
    <package id="virtualbox" />
    <package id="vagrant" />
</packages>