<?xml version="1.0"?>
<packages>
    <package id="7zip" />
    <package id="7zip.install" />
    <package id="anki" />
    <package id="autohotkey.portable" />
    <package id="avastfreeantivirus" />
    <package id="chefdk" />
    <package id="chocolatey" />
    <package id="ChocolateyGUI" />
    <package id="cyg-get" />
    <package id="Cygwin" />
    <package id="daemontoolslite" />
    <package id="DotNet4.5" />
    <package id="dropbox" />
    <package id="Evernote" />
    <package id="filezilla" />
    <package id="Firefox" />
    <package id="git.install" />
    <package id="github" />
    <package id="GoogleChrome" />
    <package id="googledrive" />
    <package id="GoogleJapaneseInput" />
    <package id="keepass" />
    <package id="keepass.install" />
    <package id="lhaplus" />
    <package id="libreoffice" />
    <package id="nyagos" />
    <package id="Opera" />
    <package id="PDFXChangeViewer" />
    <package id="PowerShell" />
    <package id="skype" />
    <package id="SublimeText3" />
    <package id="vagrant" />
    <package id="virtualbox" />
</packages>